<ion-header>
  <ion-toolbar>
    <ion-title *ngFor="let note of (user|async)"><h3>Hi {{note.uname}}</h3></ion-title>
    <ion-icon name="power-outline" (click)="signout()" slot="end" style="zoom:2.0;"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo" *ngFor="let note of (user|async)">
    <img src="{{note.imageuri}}" class="logo_icon">


<input type="file" (change)="showPreview($event)">
<button (click)="save()">Save</button>
  </div>
  <div>


  </div>
  <div>
    <h5>{{uploading}}</h5>
  </div>

</ion-content>
