
<ion-content>
  <div class="login-logo">
    <img src="assets/icon/favicon.png" class="logo_icon">
    <p class="login_name">Mobile Market Place</p>
    <p class="subTitle">Enter your login delatils to access your account</p>

  </div>
  <form #loginForm="ngForm">
    <ion-list lines="none">
      <ion-item lines="none">
      <ion-input [(ngModel)]="email" placeholder="Email" name="email"required></ion-input>

    </ion-item>
    <ion-item lines="none">
      <ion-input [(ngModel)]="password" placeholder="Password" name="password" type="password" required></ion-input>

    </ion-item>
    </ion-list>
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block" color="secondary" class="btn_class">
          Login
          </ion-button>


       <label class="errorMessage">{{errorMessage}}</label>
      </ion-col>
    </ion-row>
  </form>
  <p (click)="registor()" class="createAcc">Don't hae an account?
  <span>Sign Up</span>
</p>

</ion-content>
